body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    animation-name: circle;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }
  
  @keyframes circle {
    0% {background-color: gray; width: 0; height: 0;}
    5% {background-color: gray; width: 12.5px; height: 12.5px;}
    10% {background-color: gray; width: 25px; height: 25px;}
    15% {background-color: gray; width: 37.5px; height: 37.5px;}
    20% {background-color: gray; width: 50px; height: 50px;}
    25% {background-color: gray; width: 62.5px; height: 62.5px;}
    30% {background-color: rgb(102, 102, 102); width: 75px; height: 75px;}
    35% {background-color: rgb(102, 102, 102); width: 87.5px; height: 87.5px;}
    40% {background-color: rgb(102, 102, 102); width: 100px; height: 100px;}
    45% {background-color: rgb(102, 102, 102); width: 112.5px; height: 112.5px;}
    50% {background-color: rgb(102, 102, 102); width: 125px; height: 125px;}
    55% {background-color: rgb(69, 68, 68); width: 137.5px; height: 137.5px;}
    60% {background-color: rgb(69, 68, 68); width: 150px; height: 150px;}
    65% {background-color: rgb(69, 68, 68); width: 153px; height: 153px;}
    70% {background-color: rgb(69, 68, 68); width: 156px; height: 156px;}
    75% {background-color: rgb(69, 68, 68); width: 159px; height: 159px;}
    80% {background-color: rgb(43, 43, 43); width: 162px; height: 162px;}
    85% {background-color: rgb(43, 43, 43); width: 159px; height: 159px;}
    90% {background-color: rgb(43, 43, 43); width: 157px; height: 157px;}
    95% {background-color: black; width: 156px; height: 156px;}
    97% {background-color: black; width: 153px; height: 153px;}
    98% {background-color: black; width: 152px; height: 152px;}
    99% {background-color: black; width: 151px; height: 151px;}
    100% {background-color: black; width: 150px; height: 150px;}
}